.section_a{
    padding: 8px 0;
}
.section_head-ab{
    margin: 0 auto 40px;
    max-width: 950px;
    width: 100%;
    text-align: center;
}

.section_suptitle{
    margin: 40px auto 20px;
    font-size: 35px;
    color: rgb(214, 36, 36);
    font-family: 'Montserrat', sans-serif;
}
.section_title-ab{
font-size: 25px;
font-weight: 900;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
}
.section_title-ab:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color:#ffa650;
}
.section_text{
    color:#999;
    font-size: 23px;
}

.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background-color:#ffa650;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, rgb(54, 54, 54), #ff5441);

    transition: transform .2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
   
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #999;
}

/* Section */
.section {
    padding: 80px 0;
}
.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #333;
}

.section__title {
    font-size: 35px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color:#ffa650;
}

.section__text {
    font-size: 15px;
    color: #999;
}
.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    padding: 10px 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999;
}
@media(max-width: 575px){
    .section_title-ab:after{
        margin: 20px auto;
    }
    .section_head-ab{
        margin-bottom: 50px;
    }
    .section__header{
        margin-bottom: 50px;
    }
    .about_item-a{
        width: 50%;
}
.section_suptitle {
    font-size: 20px;
}

.section_title-ab {
    font-size: 24px;
}
.section__suptitle {
    font-size: 20px;
}

.section__title {
    font-size: 24px;
}


}
@media(max-width: 770px){
    .section {
        padding: 40px 0;
    }
    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }

    .services__icon {
        left: 0;
    }

}
@media (max-width: 990px) {

    /* Services */
    .services__item {
        width: 50%;
        padding-bottom: 0;
    }

    .services__item--border {
        border-bottom: 0;
    }

}



